$backgroundColor1: #708090;
$backgroundColor2: #d3d3d3;
$backgroundColor3: #ff9fafb7;
$backgroundColor4: #ffffff;

$font-base: "Poppins", Arial, Helvetica, sans-serif;
$box-color: #666f88;
$TextColor1: rgb(36, 43, 43);
$TextColor2: #ff9faf;
$TextColor3: rgba(36, 43, 43, 0.575);
$secondTextColor: rgb(207, 25, 25);
$backgroundImage1: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80);
$backgroundImage2: url(https://images.unsplash.com/photo-1584531979583-18c5c4b25efc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80);
